@import "http://fonts.googleapis.com/css?family=Oswald:400,700,300";
@import "http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic";

.font1{
    font-family: 'Oswald', sans-serif;
}
.font2{
    font-family: 'Istok Web', sans-serif;
}
.font3{
    font-family: 'Arial', sans-serif;
}
.font4{
    font-family: 'Georgia', serif;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 0px;
}

#topnav {
    background: none repeat scroll 0 0 #2B3C4E;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /*float:right; */
    color: #FF5F06;
    display: block;
    font-size: 13px;
    width: auto !important;
    margin-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 15px;
    padding-left: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    padding-bottom: 19px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

.logo-header {
    line-height: 25px !important;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0px !important;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 970px) {
    .container {
        max-width: 970px;
    }
}
.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}



.menuContainer {
    margin-left: 0;
    margin-top: 30px;
}
.menuContainer > ul.menu {
    float: right;
    font-size: 15px;
}
.menuContainer > ul.menu > li {
    color: #000000;
    float: left;
    margin-right: 7px;
    position: relative;
}
.menuContainer > ul.menu > li > a {
    padding: 14px 10px;
    text-transform: uppercase;
}
.menuContainer > ul.menu > li:hover > a {
    background-color: #EEEEEE;
}
.menuContainer > ul.menu > li.menuactive > a, .menuContainer > ul.menu > li > a:hover {
    background-color: #FF5F06;
    color: #FFFFFF;
}
.menuContainer > ul.menu > li > div.menuLevel {
    left: 0;
    padding-top: 1px;
    top: 100%;
}
.menuContainer > ul.menu > li > div.menuLevel > ul.menuDrop {
}
.menuContainer > ul.menu > li > div.menuLevel > ul.menuDrop > li {
}
.menuContainer > ul.menu > li > div.menuLevel > ul.menuDrop > li > a {
}
.menuContainer > ul.menu > li > div.menuLevel > ul.menuDrop > li div.menuLevel {
    left: 100%;
    padding-left: 1px;
    top: -11px;
}
.menuContainer > ul.menu > li > div.menuLevel > ul.menuDrop > li div.menuLevel > ul.menuDrop {
}
.menuContainer > ul.menu > li > div.menuLevel > ul.menuDrop > li div.menuLevel > ul.menuDrop > li {
}
.menuContainer > ul.menu > li > div.menuLevel > ul.menuDrop > li div.menuLevel > ul.menuDrop > li > a {
}
.menuContainer div.menuLevel > ul.menuDrop > li:hover > a {
    background-color: #FF5F06;
    color: #FFFFFF;
}
.menuContainer ul {
    list-style: none outside none;
}
.menuContainer div.menuLevel {
    z-index: 2;
}
.menuContainer div.menuLevel > ul.menuDrop {
    width: 158px;
}
.menuContainer ul > li {
    position: relative;
}
.menuContainer ul > li > a {
    color: inherit;
    padding-left: 31px;
    padding-right: 13px;
}
.menuContainer div.menuLevel > ul.menuDrop > li > a {
    padding-bottom: 5px;
    padding-top: 7px;
}
.menuContainer ul > li > a {
    display: block;
    text-decoration: none;
}
.menuContainer div.menuLevel {
    position: absolute;
}
.menuContainer div.menuLevel > ul.menuDrop {
    background-color: #FF5F06;
    padding-bottom: 8px;
    padding-top: 11px;
}
.menuContainer div.menuLevel > ul.menuDrop > li {
    color: #212121;
    margin-bottom: 3px;
}
.menuContainer ul > li > a {
    line-height: 1em;
}
.menuContainer div.menuLevel {
    display: none;
    font-size: 13px;
}
.menuContainer li:hover > div.menuLevel {
    display: block;
}
.menuContainer div.menuLevel > ul.menuDrop > li > div.menuDropArrow {
    background-color: #C0392B;
    background-image: url("../images/options/bg_arrow_mn_in.png");
    height: 9px;
    left: 12px;
    position: absolute;
    top: 8px;
    width: 6px;
}
.menuContainer div.menuLevel > ul.menuDrop > li:hover > div.menuDropArrow {
    background-image: url("../images/options/bg_arrow_mn_ac.png");
}



.container .jumbotron {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.container .jumbotron {
    border-radius: 6px;
}
.jumbotron {
    border-bottom: 0 none;
}
.jumbotron {
    border-bottom: 1px solid #E5E5E5;
    text-align: center;
}
.jumbotron {
    padding-bottom: 0px !important;
    padding-top: 48px;
}
.jumbotron {
    background-color: #ffffff;
    color: inherit;
    margin-bottom: 0px !important;
    padding: 0px !important;
}


.menuContainer > ul.menu > li.current_page_item > a, .menuContainer > ul.menu > li.current-menu-item > a {
    background-color: #FF5F06;
}